.upload {
    height: 3em;
    line-height: 3em;
    border-style: dashed;
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.upload:hover {
    border-style: solid;
    cursor: pointer;
}

.upload-active {
    background-color: transparent !important;
    border-style: dashed !important;
    border-color: white !important;
}

.file-remove {
    cursor: pointer;
}

.upload-link {
    text-decoration: none;
}

.upload-link:hover {
    text-decoration: underline;
}
